.inlineList {
  list-style: none;
  font-size: 1.4rem;
  display: flex;

  &Item {
    position: relative;
    &:not(:last-of-type) {
    margin-right: 2rem;

      &::after {
        content: "";
        width: 1px;
        height: 1.5rem;
        position: absolute;
        left: calc(100% + 1rem);
        background-color: var(--color-gray-2);
      }
    }

    a:link,
    a:visited {
      color: var(--color-link);
      text-decoration: none;
    }
  }

  &Link {
    text-decoration: none;
    color: var(--color-link);
    cursor: pointer;
  }

  &ItemActive {
    color: var(--color-primary);
  }
}
