.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;

  width: 50vw;
  max-width: 40rem;
  min-width: 32rem;

  padding: 6rem;

  border-radius: 3px;
  box-shadow: 0.25rem 2rem 3rem rgba(0, 0, 0, 0.15);
}
