.table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid var(--color-gray-2);

  font-size: 1.3rem;

  &Row {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }
  }

  &Row:hover &ItemRowHover {
    visibility: visible;
  }

  &Header {
    border: 1px solid var(--color-gray-2);
  }

  &Cell {
    padding: 0.5rem 1rem;

    &Center {
      text-align: center;
    }
  }

  &ItemRowHover {
    visibility: hidden;
  }
}
