:root {
  --color-primary: #e14d43;
  --color-secondary: #dd0000;
  --color-additional: #ffce00;

  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  --color-text: #fafafa;
  --color-background: #f1f1f1;
  --color-surface: #fff;

  --color-dark: #26292c;
  --color-dark-1: #363b3f;
  --color-dark-2: #525252;

  --color-white: #fff;
}
